{% extends "layout.html" %}
{% block content %}
  <div class="starter-template">
    <header>
      <h1>About Me: Preston Hall - Your Data Analyst Extraordinaire</h1>
    </header>
    <section>
      <h2>Adventurous at Heart</h2>
      <p>
          First and foremost, I'm an outdoor enthusiast. Whether it's camping under the stars, conquering challenging hiking trails, scaling rock faces, or pedaling through picturesque landscapes, you can count on me to embrace the beauty of the natural world. Equally important to me is the time spent with my family and friends, creating cherished memories that last a lifetime.
      </p>
    </section>
    <section>
      <h2>Dedication and Service</h2>
      <p>
          My journey into the world of data analysis has been deeply influenced by my 12-year service in the US Army Reserves as a Civil Affairs Specialist. During a tour in Afghanistan, I collaborated with local communities to build vital infrastructure, including wells, roads, schools, and clinics. This experience instilled in me the values of hard work, dedication, and the importance of making a positive impact on the world.
      </p>
    </section>
    <section>
      <h2>Education and Expertise</h2>
      <p>
          Armed with a Bachelor of Science in Data Analytics and Data Management, along with successful completion of a Software Development boot camp, I've honed my skills to excel in the realm of data. I've also earned various IT and software certificates to stay at the forefront of technological advancements.
      </p>
    </section>
    <section>
      <h2>Problem-Solving Enthusiast</h2>
      <p>
          Solving complex puzzles and navigating intricate problems is not just a hobby—it's a passion. I thrive on challenges that require creative thinking and meticulous attention to detail.
      </p>
    </section>
    <section>
      <h2>Financial Services Maven</h2>
      <p>
          With over a decade of experience in the financial services industry, I've gained comprehensive insights into various departments, including Credit Cards, Home Lending, Currency Transaction Reporting, and Deposit Accounts. My knack for working with computers has allowed me to craft tools, charts, and automate tasks using Microsoft Excel, Macros, Python, and Tableau.
      </p>
    </section>
    <section>
      <h2>Data Analyst on a Mission</h2>
      <p>
          Now, I'm on a mission to transition from a Business Analyst to a Data Analyst. I am seeking opportunities to leverage my skills, passion for problem-solving, and dedication to making a difference in the data world. I believe that my unique blend of experiences, both in the military and the corporate world, make me a valuable asset to any company looking to harness the power of data.
      </p>
    </section>
    <footer>
      <p>So, if you're in search of a dynamic Data Analyst who combines technical expertise with a genuine drive to make a positive impact, look no further. Let's embark on this exciting journey together!</p>
    </footer>
  </div>
{% endblock %}