{% extends "layout.html" %}
{% block content %}
  <div class="starter-template">
    <h1>Contact information</h1>
    <section>
      <h2>Name:</h2>
      <p>Preston Hall</p>
    </section>
    <section>
        <h2>Phone:</h2>
        <p>(801) 448-5666</p>
    </section>
    <section>
        <h2>Email:</h2>
        <p><a href="mailto:prestonhall31@gmail.com">prestonhall31@gmail.com</a></p>
    </section>
    <section>
        <h2>LinkedIn Profile:</h2>
        <p><a href="https://www.linkedin.com/in/prestonhall31/" target="_blank">https://www.linkedin.com/in/prestonhall31/</a></p>
    </section>
    <section>
        <h2>GitHub Profile:</h2>
        <p><a href="https://github.com/Prestonhall31/" target="_blank">https://github.com/Prestonhall31/</a></p>
  </section>  
</div>
{% endblock %}